body {
  background: gold;
}
h2 {
    text-align: center;
    font-size:larger ;
    font-weight:bolder
}
h3 {
    text-align: center;
    font-size:larger ;
    font-weight:bolder
}
title {
    text-align:center;
    font-size:xx-large
}